<div fxLayout="column" fxFlexFill="min-height">
    <mat-toolbar fxFlex="initial" color="primary" class="mat-elevation-z8" fxLayout="row" fxLayoutAlign="start stretch">
        <button mat-button fxFlex="initial" fxHide fxShow.lt-md (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <div fxFlex fxLayout="row" fxLayoutAlign="start center" class="navigation-title navigation-main-font">
            <div>Szakdolgozat</div>
        </div>

        <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
            <div fxLayout fxLayoutGap="20px" class="navigation-items navigation-main-font">
                <div routerLink="/timetable" class="navigation-item">Órarend</div>
                <div class="navigation-item">Fórum</div>
                <div class="navigation-item">Kijelentkezés</div>
            </div>
        </div>
    </mat-toolbar>

    <mat-drawer-container fxFlex>
        <mat-drawer #drawer>
            <mat-nav-list class="navigation-main-font">
                <div mat-list-item class="drawer-element">
                    <mat-icon class="mr-5">today</mat-icon>
                    <span>Órarend</span>
                </div>
                <div mat-list-item class="drawer-element">
                    <mat-icon class="mr-5">forum</mat-icon>
                    <span>Fórum</span>
                </div>
                <div mat-list-item class="drawer-element">
                    <mat-icon class="mr-5">logout</mat-icon>
                    <span>Kijelentkezés</span>
                </div>
            </mat-nav-list>
            <mat-divider></mat-divider>
            <app-timetable-side-menu></app-timetable-side-menu>
        </mat-drawer>

        <div class="main-page">
            <div fxShow fxHide.lt-md class="side-menu-border">
                <app-timetable-side-menu></app-timetable-side-menu>
            </div>
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-drawer-container>
</div>
