// *********** Toolbar classes ***********
.mat-toolbar {
    z-index: 10;
    padding: 0px;
}

.navigation-title{
    padding: 20px;
}

.navigation-icon{
    margin: 0px;
}

.navigation-items {
    padding: 20px;
    margin: 0px;
}

.navigation-item:hover,
.navigation-item:active{
    color: var(--neutral200);
    cursor: pointer;
}

// *********** Drawer classes ***********

.drawer-element {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.drawer-element:hover,
.drawer-element:active {
    color: var(--primary100);
    background-color: var(--neutral200);
    cursor: pointer;
}

.drawer-element-icon{
    margin-right: 5px;
}

// *********** Main page classes ***********

.side-menu-border {
    height: 100%;
    width: 175px;
    border-right: 2px solid lightgray;
}

.content {
    height: 100%;
    width: 100%;
}

.main-page{
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}
