<div>
    <div class="pinned-message-title-container">
        <mat-icon class="mr-10">push_pin</mat-icon>
        <div class="secondary-title-font">Kitűzött üzenetek</div>
    </div>
    <div class="line"></div>
    <div class="messages-container">
        <div class="message" *ngFor="let message of pinnedMessage">
            <div class="message-title">
                <div class="mr-10 message-username-font">
                    {{ userMap.get(message.userId!) ? userMap.get(message.userId!)?.appUsername : 'Ismeretlen' }}
                </div>
                <div class="message-time-font forum-time mr-10">
                    {{ message.dateOfUpload | date : 'yyyy-MM-dd HH:mm' }}
                </div>
            </div>
            <div *ngIf="message.type === 'MESSAGE'" class="content-font message-content">
                <div *ngFor="let paragraph of message.content.split('\n')">
                    {{ paragraph }}
                </div>
            </div>
            <div *ngIf="message.type === 'FILE'" class="content-font message-content">
                <div class="file-message-container">
                    <mat-icon> insert_drive_file </mat-icon>
                    <span
                        class="downloadable-file"
                        (click)="downloadFile(message.content)"
                        [matTooltip]="'Kattints a fájl letöltéséhez'"
                        [matTooltipPosition]="'above'"
                        [matTooltipShowDelay]="500"
                        >{{ message.content }}</span
                    >
                </div>
            </div>
            <div *ngIf="message.type === 'IMAGE'" class="content-font message-content">
                <img class="message-image" [src]="'http://localhost:8080/file/getImage/' + message.content" alt="" />
                <mat-icon
                    class="ml-5 image-download-icon"
                    (click)="downloadFile(message.content)"
                    [matTooltip]="'Kép letöltése'"
                    [matTooltipPosition]="'right'"
                    [matTooltipShowDelay]="500"
                    >download</mat-icon
                >
            </div>
        </div>
    </div>
    <div *ngIf="!pinnedMessage.length" class="main-title-font no-pinned-message">Nincs még kitűzött üzenet!</div>
</div>
