.agenda-list-view-card {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.card-main-title {
    display: flex;
    justify-content: center;
}

.list-input-and-add {
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.list-add-element-button {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.list-add-element-button-icon {
    font-size: 40px;
    width: 40px;
    height: 40px;
}

.list-add-element-input {
    width: 80%;
}

.list-filter-input {
    margin: 10px 0px;
    width: 100%;
}

.list-action-button,
.list-delete-button {
    transition: 0.3s;
    height: 100%;
}

.list-action-button:hover,
.list-action-button:focus {
    background-color: var(--primary100);
    color: var(--neutral200);
    cursor: pointer;
}

.list-delete-button:hover,
.list-delete-button:focus {
    background-color: var(--uberdanger);
    color: var(--neutral200);
    cursor: pointer;
}

.list-row:hover,
.list-row-selected {
    background-color: var(--neutral200);
}

.list-row {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--neutral);
}

.list-row-buttons {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.list-row-name {
    width: 100%;
}

.rotate {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    font-weight: 900;
}
.rotate:hover {
    transform: rotate(90deg);
    color: var(--primary);
}

.no-selected-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    align-items: center;
    line-height: normal;
}

.no-selected-element-icon {
    font-size: 60px;
    font-weight: 600;
    width: 60px;
    height: 60px;
}
