.agenda-list-view-card {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.card-main-title {
    display: flex;
    justify-content: center;
}

.accordion-and-button {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
}

.mat-accordion {
    width: 80%;
}

.list-add-element-button {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.list-add-element-button-icon {
    font-size: 40px;
    width: 40px;
    height: 40px;
}

.list-add-element-input {
    width: 80%;
}

.list-filter-input {
    margin: 10px 0px;
    width: 100%;
}

.list-action-button,
.list-delete-button {
    transition: 0.3s;
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
}

.list-action-button:hover,
.list-action-button:focus {
    background-color: var(--primary100);
    color: var(--neutral200);
    cursor: pointer;
}

.list-delete-button:hover,
.list-delete-button:focus {
    background-color: var(--uberdanger);
    color: var(--neutral200);
    cursor: pointer;
}

.list-row:hover,
.list-row-selected {
    background-color: var(--neutral200);
}

.list-row {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--neutral);
}

.list-row-buttons {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.list-row-name {
    width: 100%;
}

.rotate {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    font-weight: 900;
}
.rotate:hover {
    transform: rotate(90deg);
    color: var(--primary);
}

.no-selected-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    align-items: center;
    line-height: normal;
}

.no-selected-element-icon {
    font-size: 60px;
    font-weight: 600;
    width: 60px;
    height: 60px;
}

.sub-task-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0px 15px 20px;
}

.sub-task-main {
    display: flex;
    align-items: center;
}

.sub-task-buttons {
    display: flex;
    align-items: center;
}

.edited-sub-task-name{
    border: 2px solid var(--grey);
    padding: 0px 4px;
    margin: 0px 4px;
}

.type-exam {
    background-color: var(--exam);
    font-weight: 500;
}

.type-assigment {
    background-color: var(--assigment);
    font-weight: 500;
}

.type-test {
    background-color: var(--test);
    font-weight: 500;
}

.type-zh {
    background-color: var(--zh);
    font-weight: 500;
}

.type-task {
    background-color: var(--task);
    font-weight: 500;
}

.completed-task {
    color: var(--grey);
    text-decoration: line-through;
}

.fulfilled-task-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fulfilled-task-row-main {
    display: flex;
    align-items: center;
}

.filter-type-checkboxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.set-button-right-side {
    display: flex;
    justify-content: flex-end;
}

.fulfilled-task-list-row {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--neutral);
}

.fulfilled-task-list-first-row {
    border-top: 1px solid var(--neutral);
}

.color-picker-sample {
    height: 30px;
    width: 50px;
    border-radius: 5px;
    display: inline-block;
    border: 2px solid black;
}

.expansion-panel-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.main-task-abbreviation {
    opacity: 0.7;
}

.expansion-panel-header-main {
    width: 90%;
    display: flex;
    flex-direction: column;
}