<mat-card class="mat-elevation-z4 agenda-list-view-card">
    <div *ngIf="selectedTimetableId">
        <div class="main-title-font card-main-title">Feladatok</div>
        <div>
            <div class="accordion-and-button mb-15 mt-20">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header class="filter-header">
                            <mat-icon>tune</mat-icon>
                            <div class="content-font ml-10">Szűrés</div>
                        </mat-expansion-panel-header>
                        <div class="filter-type-checkboxes">
                            <div style="margin: 5px 15px 5px 5px">
                                <mat-checkbox (change)="checkTypeFilter('Feladat')" [checked]="true"
                                    >Feladat</mat-checkbox
                                >
                            </div>
                            <div style="margin: 5px 15px 5px 5px">
                                <mat-checkbox (change)="checkTypeFilter('Vizsga')" [checked]="true"
                                    >Vizsga</mat-checkbox
                                >
                            </div>
                            <div style="margin: 5px 15px 5px 5px">
                                <mat-checkbox (change)="checkTypeFilter('Zárthelyi')" [checked]="true"
                                    >Zárthelyi</mat-checkbox
                                >
                            </div>
                            <div style="margin: 5px 15px 5px 5px">
                                <mat-checkbox (change)="checkTypeFilter('Beadandó')" [checked]="true"
                                    >Beadandó</mat-checkbox
                                >
                            </div>
                            <div style="margin: 5px 15px 5px 5px">
                                <mat-checkbox (change)="checkTypeFilter('Teszt')" [checked]="true">Teszt</mat-checkbox>
                            </div>
                        </div>
                        <div class="set-button-right-side">
                            <button
                                class="navigation-main-font"
                                mat-raised-button
                                color="primary"
                                (click)="saveFilter()"
                            >
                                Mentés
                            </button>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
                <div
                    matTooltip="Feladat hozzáadása"
                    [matTooltipPosition]="'right'"
                    [matTooltipShowDelay]="500"
                    class="list-add-element-button mt-5"
                >
                    <mat-icon class="list-add-element-button-icon rotate" (click)="addMainTask()">add</mat-icon>
                </div>
            </div>
            <div>
                <mat-accordion>
                    <mat-expansion-panel
                        *ngFor="let mainTask of sortByDate(filteredMainTasks)"
                        class="type-{{ getTypeForClass(mainTask.type) }}"
                    >
                        <mat-expansion-panel-header>
                            <div class="expansion-panel-header">
                                <div><mat-checkbox (click)="checkMainTask($event, mainTask)"></mat-checkbox></div>
                                <div
                                    class="color-picker-sample ml-10"
                                    [ngStyle]="{ 'background-color': getSubjectColor(mainTask.lessonId) }"
                                ></div>
                                <div class="ml-10 content-font">{{ mainTask.name }}</div>
                            </div>
                        </mat-expansion-panel-header>
                        <div *ngFor="let subTask of filterSubTasksByMainTaskId(mainTask.id!)" class="sub-task-row">
                            <div class="sub-task-main">
                                <div>
                                    <mat-checkbox
                                        (change)="checkSubTask(subTask)"
                                        [checked]="subTask.fulfilled"
                                    ></mat-checkbox>
                                </div>
                                <div
                                    *ngIf="!editedSubTasks.has(subTask.id!)"
                                    class="content-font ml-10"
                                    [class.completed-task]="subTask.fulfilled"
                                    style="width: 100%"
                                >
                                    {{ subTask.name }}
                                </div>
                                <div
                                    *ngIf="editedSubTasks.has(subTask.id!)"
                                    class="content-font edited-sub-task-name"
                                    style="width: 100%"
                                >
                                    <input
                                        matInput
                                        type="text"
                                        #updatedName
                                        [value]="subTask.name"
                                        (change)="changeUpdatedName(subTask.id!, updatedName.value)"
                                        (keyup.enter)="saveSubTask(subTask)"
                                    />
                                </div>
                            </div>
                            <div class="sub-task-buttons">
                                <div
                                    *ngIf="!editedSubTasks.has(subTask.id!)"
                                    style="width: 100%"
                                    class="list-action-button"
                                    (click)="modifySubTask(subTask)"
                                >
                                    <button mat-icon-button>
                                        <mat-icon> edit </mat-icon>
                                    </button>
                                </div>
                                <div
                                    *ngIf="editedSubTasks.has(subTask.id!)"
                                    style="width: 100%"
                                    class="list-action-button"
                                    (click)="saveSubTask(subTask)"
                                >
                                    <button mat-icon-button>
                                        <mat-icon> save </mat-icon>
                                    </button>
                                </div>
                                <div
                                    style="width: 100%"
                                    class="list-delete-button"
                                    (click)="deleteSubTask(subTask.id!)"
                                >
                                    <button mat-icon-button>
                                        <mat-icon> delete </mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="list-row-buttons">
                            <div
                                matTooltip="Alfeladat hozzáadása"
                                [matTooltipPosition]="'below'"
                                [matTooltipShowDelay]="500"
                                class="list-action-button"
                                (click)="addSubTask(mainTask.id!)"
                            >
                                <button mat-icon-button>
                                    <mat-icon> add </mat-icon>
                                </button>
                            </div>
                            <div
                                matTooltip="Feladat leírása"
                                [matTooltipPosition]="'below'"
                                [matTooltipShowDelay]="500"
                                class="list-action-button"
                                (click)="selectMainTask(mainTask.id)"
                            >
                                <button mat-icon-button>
                                    <mat-icon> description </mat-icon>
                                </button>
                            </div>
                            <div
                                matTooltip="Feladat szerkesztése"
                                [matTooltipPosition]="'below'"
                                [matTooltipShowDelay]="500"
                                class="list-action-button"
                                (click)="modifyMainTask(mainTask.id)"
                            >
                                <button mat-icon-button>
                                    <mat-icon> edit </mat-icon>
                                </button>
                            </div>
                            <div
                                matTooltip="Feladat törlése"
                                [matTooltipPosition]="'below'"
                                [matTooltipShowDelay]="500"
                                class="list-delete-button"
                                (click)="openDeleteDialog(mainTask.id)"
                            >
                                <button mat-icon-button>
                                    <mat-icon> delete </mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div class="mt-20 mb-20">
                <mat-divider></mat-divider>
            </div>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-icon>done</mat-icon>
                        <div class="content-font ml-10">Befejezett feladatok</div>
                    </mat-expansion-panel-header>
                    <div class="mb-15 set-button-right-side">
                        <button
                            class="navigation-main-font"
                            mat-raised-button
                            color="warn"
                            (click)="openDeleteAllFulfilledTaskDialog()"
                        >
                            Összes törlése
                        </button>
                    </div>
                    <div
                        *ngFor="let fulfilledMainTask of fulfilledMainTasks; let i = index"
                        class="fulfilled-task-list-row"
                        [class.fulfilled-task-list-first-row]="i === 0"
                    >
                        <div class="fulfilled-task-row-main">
                            <div>
                                <mat-checkbox
                                    [checked]="true"
                                    (click)="checkMainTask($event, fulfilledMainTask)"
                                ></mat-checkbox>
                            </div>
                            <div class="ml-10 content-font completed-task">{{ fulfilledMainTask.name }}</div>
                        </div>
                        <div
                            matTooltip="Alfeladat törlése"
                            [matTooltipPosition]="'below'"
                            [matTooltipShowDelay]="500"
                            class="list-delete-button"
                            (click)="deleteMainTask(fulfilledMainTask.id!)"
                        >
                            <button mat-icon-button>
                                <mat-icon> delete </mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div *ngIf="!selectedTimetableId" class="no-selected-element">
        <mat-icon class="no-selected-element-icon mb-20">info_outline</mat-icon>
        <div class="no-element-found-font">Válassz órarendet az oldalsó menüben!</div>
    </div>
</mat-card>
