<div class="dialog-component">
    <div class="main-title-font mb-20">{{ dialogData.dialogHeader }}</div>
    <div class="content-font">
        <p>{{ dialogData.dialogContent }}</p>
    </div>
    <div mat-dialog-actions>
        <button class="navigation-main-font" mat-button cdkFocusInitial (click)="closeDialog()" mat-raised-button color="primary">
            {{ dialogData.cancelButtonLabel }}
        </button>
        <button class="navigation-main-font confirm-button" mat-button (click)="confirmDialog()" mat-raised-button color="primary">
            {{ dialogData.confirmButtonLabel }}
        </button>
    </div>
</div>
