<div class="forum-main">
    <mat-card class="mat-elevation-z4 forum-main-card">
        <div *ngIf="!isForumSelected" class="no-selected-element">
            <mat-icon class="no-selected-element-icon mb-20">info_outline</mat-icon>
            <div class="no-element-found-font">Válassz egy szobát!</div>
        </div>
        <div *ngIf="isForumSelected" class="forum-content-main">
            <div class="forum-content-header">
                <div>
                    <div class="main-title-font">{{ selectedForum.name }}</div>
                    <div class="content-font forum-description">{{ selectedForum.description }}</div>
                </div>
                <!-- TODO open dialog with pinned messages -->
                <div class="forum-content-header-button-container">
                    <button mat-mini-fab color="primary" (click)="openPinnedMessages()">
                        <mat-icon>push_pin</mat-icon>
                    </button>
                    <button mat-mini-fab color="primary" [matMenuTriggerFor]="infoMenu">
                        <mat-icon>info</mat-icon>
                    </button>
                </div>
            </div>

            <div class="line"></div>
            <div class="messages-container">
                <div class="message" *ngFor="let message of allMessage">
                    <div class="message-title">
                        <div class="mr-10 message-username-font">
                            {{
                                userMap.get(message.userId!) ? userMap.get(message.userId!)?.appUsername : 'Ismeretlen'
                            }}
                        </div>
                        <div class="message-time-font forum-time mr-10">
                            {{ message.dateOfUpload | date : 'yyyy-MM-dd HH:mm' }}
                        </div>
                        <img
                            *ngIf="!message.pinned"
                            class="pin-icon"
                            src="assets/icons/push_pin.svg"
                            alt="pin"
                            (click)="pinMessage(message)"
                            [matTooltip]="'Üzenet kitűzése'"
                            [matTooltipPosition]="'right'"
                            [matTooltipShowDelay]="500"
                        />
                        <img
                            *ngIf="message.pinned"
                            class="pin-icon"
                            src="assets/icons/push_pin_filled.svg"
                            alt="unpin"
                            (click)="unpinMessage(message)"
                            [matTooltip]="'Üzenet letűzése'"
                            [matTooltipPosition]="'right'"
                            [matTooltipShowDelay]="500"
                        />
                    </div>
                    <div class="content-font message-content">
                        {{ message.content }}
                    </div>
                </div>
                <div class="main-title-font welcome-message">Üdv a szobában!</div>
            </div>
            <mat-form-field class="message-form-field" appearance="outline">
                <textarea
                    class="disable-resize-textarea"
                    matInput
                    rows="3"
                    type="text"
                    [formControl]="message"
                    placeholder="Üzenet..."
                    (keyup.enter)="sendMessage()"
                ></textarea>
                <mat-icon class="message-send-button" matSuffix (click)="sendMessage()">send</mat-icon>
            </mat-form-field>
        </div>
    </mat-card>
</div>

<mat-menu #infoMenu="matMenu" class="info-menu-class">
    <div class="info-menu-university-container">
        <mat-icon class="mr-10">school</mat-icon>
        <div class="content-font">{{ selectedForumUniversity.name }}</div>
    </div>
    <div class="line mt-5 mb-5"></div>
    <div>
        <mat-chip-list>
            <mat-chip class="message-time-font" *ngFor="let faculty of selectedForumFaculties" disableRipple>{{
                faculty.name
            }}</mat-chip>
        </mat-chip-list>
    </div>
    <div class="line mt-5 mb-5"></div>
    <div *ngFor="let major of selectedForumMajors">
        <mat-chip-list
            ><mat-chip class="message-time-font">{{ major.name }}</mat-chip></mat-chip-list
        >
    </div>
</mat-menu>
