<div class="login-main">
    <mat-card class="mat-elevation-z4 login-card">
        <div></div>
        <div class="card-main-title authentication-font">Szakdolgozat</div>

        <div class="main-title-font login-main-title">Bejelentkezés</div>

        <div class="login-form-container">
            <form class="login-form">
                <mat-form-field class="login-form-field" appearance="outline">
                    <mat-label>Email cím</mat-label>
                    <input matInput type="text" [formControl]="email" />
                    <mat-error *ngIf="email.hasError('required')">Email cím megadása kötelező!</mat-error>
                </mat-form-field>
                <mat-form-field class="login-form-field" appearance="outline">
                    <mat-label>Jelszó</mat-label>
                    <input matInput type="password" [formControl]="password" />
                    <mat-error *ngIf="password.hasError('required')">Jelszó megadása kötelező!</mat-error>
                </mat-form-field>
            </form>

            <div class="login-button-container">
                <button routerLink="/timetable/timetable-daily" class="navigation-main-font" mat-raised-button color="primary" (click)="login()">
                    Bejelentkezés
                </button>
            </div>
        </div>

        <div routerLink="/authentication/register" class="content-font register-message">Ha még nincs fiókod itt regisztrálhatsz.</div>
    </mat-card>
</div>
