<div class="login-main">
    <mat-card class="mat-elevation-z4 login-card">
        <div></div>
        <div class="card-main-title authentication-font">Bejelentkezés</div>

        <div><mat-divider style="width: 100%"></mat-divider></div>

        <div class="login-form-container">
            <form class="login-form">
                <mat-form-field class="login-form-field" appearance="outline">
                    <mat-label>Email cím</mat-label>
                    <input matInput type="text" [formControl]="email" />
                    <mat-error *ngIf="email.hasError('required')">Email cím megadása kötelező!</mat-error>
                </mat-form-field>
                <mat-form-field class="login-form-field" appearance="outline">
                    <mat-label>Jelszó</mat-label>
                    <input matInput type="password" [formControl]="password" />
                    <mat-error *ngIf="password.hasError('required')">Jelszó megadása kötelező!</mat-error>
                </mat-form-field>
            </form>

            <div class="login-button-container">
                <button class="navigation-main-font login-button" mat-raised-button color="primary" (click)="login()">
                    Bejelentkezés
                </button>
            </div>
        </div>

        <div class="content-font register-message">
            <span>Nincs még fiókod?&nbsp;</span>
            <span routerLink="/authentication/register" class="register-navigate">Itt regisztrálhatsz.</span>
        </div>
    </mat-card>
</div>
