.agenda-list-view-cards {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.agenda-list-view-card {
    width: 50%;
    padding: 10px;
}

@media (max-width: 1000px) {
    .agenda-list-view-card {
        width: 100%;
        padding: 10px;
    }
}
