.lesson-cards {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.lesson-card{
    width: 50%;
    padding: 10px;
}

@media (max-width: 599px) {
    .lesson-card{
        width: 100%;
        padding: 10px;
    }
  }


