<mat-card class="mat-elevation-z4 subject-card">
    <div *ngIf="isStateTheCurrentPageState('description')" class="card-main">
        <app-subject-data-operations-description></app-subject-data-operations-description>
    </div>

    <div *ngIf="isStateTheCurrentPageState('add')" class="card-main">
        <app-subject-data-operations-save-form></app-subject-data-operations-save-form>
    </div>

    <div *ngIf="isStateTheCurrentPageState('modify')" class="card-main">
        <app-subject-data-operations-update-form></app-subject-data-operations-update-form>
    </div>

    <div *ngIf="isStateTheCurrentPageState('base')" class="card-main">
        <div class="no-selected-element">
            <mat-icon class="no-selected-element-icon mb-20">info_outline</mat-icon>
            <div class="no-element-found-font">Válassz egy tantárgyat!</div>
        </div>
    </div>
</mat-card>