:root {
    --primary: #004666;
    --primary100: #037da6;
    --primary300: #005475;
    --secondary: #006384;
    --tertiary: #002d42;
    --success: #95a844;
    --success300: #a3b562;
    --warning: #d8aa00;
    --warning300: #e3b839;
    --info: #80b0c8;
    --info300: #94bed1;
    --danger: #a21e4d;
    --danger300: #bd2d5f;
    --light: #edf0f2;
    --neutral: #a8adb3;
    --neutral200: #dadde0;
    --grey: #787b80;
    --dark: #34393b;
    --subtle: #4c5356;
    --white: #ffffff;
    --black: #000000;
    --shadow: #bdc1c7;
    --uberdanger: #da0c1f;
    --caution: #fccd22;
    --successful: #64a844;
    --attention: #eb6d20;
    --material-error: #f44336;

    --lred-old: #fccbc7;
    --l2red-old: #faedeb;
    --lline-old: #ddd;

    --c-divider: #dcdcdc;
    --c-selected: #add8e6;

    --test: #d294d25f;
    --exam: #ff2b1883;
    --assigment: #76ca815a;
    --zh: #ffa560a5;
    --task: #b5dbe76d;
}
