.navigation-font{
    font-size: 20px;
    font-weight: 500;
}

.drawer-font-main{
    font-size: 20px;
    font-weight: 500;
}

.drawer-font-secondary{
    font-size: 16px;
    font-weight: 400;
}

.card-main-title-font{
    font-size: 25px;
    font-weight: 500;
}

.card-navigation-font{
    font-size: 20px;
    font-weight: 400;
}

.list-row-name-font{
    font-size: 18px;
    font-weight: 400;
}

.no-selected-element-font{
    font-size: 40px;
    font-weight: 600;
}

.main-title-font{
    font-size: 25px;
    font-weight: 500;
}

.content-font{
    font-size: 16px;
    font-weight: 400;
}

.button-font{
    font-size: 20px;
    font-weight: 500;
}