:root {
    --fw-400: 400;
    --fw-500: 500;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-25: 25px;
    --fs-40: 40px;
}

.navigation-main-font{
    font-size: var(--fs-20);
    font-weight: var(--fw-500);
}

.navigation-secondary-font{
    font-size: var(--fs-20);
    font-weight: var(--fw-400);
}

.main-title-font{
    font-size: var(--fs-25);
    font-weight: var(--fw-500);
}

.secondary-title-font{
    font-size: var(--fs-20);
    font-weight: var(--fw-500);
}

.content-font{
    font-size: var(--fs-16);
    font-weight: var(--fw-400);
}

.no-element-found-font, .authentication-font {
    font-size: var(--fs-40);
    font-weight: var(--fw-500);
}

.content-on-color-font{
    font-size: var(--fs-16);
    font-weight: var(--fw-500);
}

.content-overflow {
    overflow: hidden; /* make sure it hides the content that overflows */
    white-space: nowrap; /* don't break the line */
    text-overflow: ellipsis; /* give the beautiful '...' effect */
}