<div fxLayout="column" fxFlexFill="min-height">
    <mat-toolbar fxFlex="initial" color="primary" class="mat-elevation-z8" fxLayout="row" fxLayoutAlign="start stretch">
        <button
            matTooltip="Menü megnyitása"
            [matTooltipPosition]="'right'"
            [matTooltipShowDelay]="500"
            *ngIf="!drawer.opened"
            mat-button
            fxFlex="initial"
            (click)="drawer.toggle()"
        >
            <mat-icon>menu</mat-icon>
        </button>
        <button
            matTooltip="Menü bezárása"
            [matTooltipPosition]="'right'"
            [matTooltipShowDelay]="500"
            *ngIf="drawer.opened"
            mat-button
            fxFlex="initial"
            (click)="drawer.toggle()"
        >
            <mat-icon>close</mat-icon>
        </button>

        <div fxFlex fxLayout="row" fxLayoutAlign="start center" class="navigation-main-font">
            <div>Szakdolgozat</div>
        </div>

        <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
            <div fxLayout fxLayoutGap="20px" class="navigation-items navigation-main-font">
                <div routerLink="/timetable" class="navigation-item">Órarend</div>
                <div routerLink="/forum" class="navigation-item">Fórum</div>
                <div (click)="onLogoutClick()" class="navigation-item">Kijelentkezés</div>
            </div>
        </div>
    </mat-toolbar>

    <mat-drawer-container fxFlex>
        <mat-drawer #drawer [mode]="drawerMode" [opened]="!isInMobileView()">
            <mat-nav-list fxHide fxShow.xs class="navigation-main-font">
                <div routerLink="/timetable" mat-list-item class="drawer-element">
                    <mat-icon class="mr-5">today</mat-icon>
                    <span>Órarend</span>
                </div>
                <div routerLink="/forum" mat-list-item class="drawer-element">
                    <mat-icon class="mr-5">forum</mat-icon>
                    <span>Fórum</span>
                </div>
                <div (click)="onLogoutClick()" mat-list-item class="drawer-element">
                    <mat-icon class="mr-5">logout</mat-icon>
                    <span>Kijelentkezés</span>
                </div>
            </mat-nav-list>
            <mat-divider></mat-divider>
            <!-- <app-timetable-side-menu></app-timetable-side-menu> -->
        </mat-drawer>

        <div class="main-page">
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-drawer-container>
</div>
