<mat-card class="mat-elevation-z4 daily-view-description-card">
    <div *ngIf="hasSelectedLesson() | async" class="card-main">
        <div class="main-title-font mb-20">További adatok</div>

        <div *ngIf="!showBothCard()" class="operations-navigation">
            <div class="ml-10 mr-10">
                <div class="navigation-secondary-font operation-button" (click)="backToListView()">
                    <mat-icon>arrow_back</mat-icon>
                    <div class="operation-button-text ml-5">Lista</div>
                </div>
            </div>
        </div>

        <div class="secondary-title-font card-description-element-title">
            <mat-icon class="mr-5">school</mat-icon>
            Tantárgy:
        </div>
        <div class="ml-50 mb-20 content-font">{{ selectedLessonSubject.name }}</div>

        <div class="secondary-title-font card-description-element-title">
            <mat-icon class="mr-5"><span class="material-symbols-outlined"> text_format </span></mat-icon>
            Rövidítés:
        </div>
        <div class="ml-50 mb-20 content-font">
            {{ selectedLessonSubject.abbreviation }}
        </div>
    
        <div class="secondary-title-font card-description-element-title">
            <mat-icon class="mr-5">person</mat-icon>
            Tanár:
        </div>
        <div class="ml-50 mb-20 content-font">{{ selectedLessonTeacher.name }}</div>
    
        <div class="secondary-title-font card-description-element-title">
            <mat-icon class="mr-5">event</mat-icon>
            Időpont:
        </div>
        <div class="ml-50 mb-20 content-font">
            {{ selectedLesson.day + ' ' + selectedLesson.startTime + ' - ' + selectedLesson.endTime }}
        </div>

        <div class="secondary-title-font card-description-element-title">
            <mat-icon class="mr-5">person</mat-icon>
            Tanár:
        </div>
        <div class="ml-50 mb-20 content-font">{{ selectedLessonTeacher.name }}</div>

        <div class="secondary-title-font card-description-element-title">
            <mat-icon class="mr-5">edit</mat-icon>
            Típus:
        </div>
        <div class="ml-50 mb-20 content-font">{{ selectedLesson.type }}</div>
    
        <div class="secondary-title-font card-description-element-title">
            <mat-icon class="mr-5">domain</mat-icon>
            Helyszín:
        </div>
        <div class="ml-50 mb-20 content-font">{{ selectedLesson.location }}</div>
    </div>

    <div *ngIf="!(hasSelectedLesson() | async)" class="card-main">
        <div class="no-selected-element">
            <mat-icon class="no-selected-element-icon mb-20">info_outline</mat-icon>
            <div class="no-element-found-font">Válassz egy tanórát!</div>
        </div>
    </div>
</mat-card>