.daily-view-description-card {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.card-description-element-title {
    margin: 10px;
}

.card-main {
    height: 100%;
}

.no-selected-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    align-items: center;
    line-height: normal;
}

.no-selected-element-icon {
    font-size: 60px;
    font-weight: 600;
    width: 60px;
    height: 60px;
}

.operations-navigation {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.operation-button {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    color: #3f51b5;
    cursor: pointer;
}

.operation-button-text {
    position: relative;
}

.operation-button-text::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #3f51b5;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.operation-button-text:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
