<mat-card class="mat-elevation-z4 agenda-monthly-view-card">
    <div *ngIf="this.selectedDayDate !== 0">
        <div class="main-title-font card-main-title mb-20">{{ currentDate | date : 'yyyy. MM. dd.' }} - Feladatok</div>
        <div *ngIf="isInMobileView()" class="ml-10 mr-10 navigation-secondary-font operation-button">
            <mat-icon (click)="backToCalendarView()">arrow_back</mat-icon>
            <div class="operation-button-text ml-5" (click)="backToCalendarView()">Lista</div>
        </div>
        <mat-accordion>
            <mat-expansion-panel
                *ngFor="let mainTask of sortByDate(filteredMainTasks)"
                class="type-{{ getTypeForClass(mainTask.type) }}"
            >
                <mat-expansion-panel-header>
                    <div class="expansion-panel-header">
                        <div><mat-checkbox (click)="checkMainTask($event, mainTask)"></mat-checkbox></div>
                        <div class="expansion-panel-header-main">
                            <div style="width: 85%" class="ml-10 content-on-color-font content-overflow">
                                {{ mainTask.name }}
                            </div>
                            <div
                                style="width: 85%"
                                class="ml-10 mr-10 content-on-color-font main-task-subject-name content-overflow"
                            >
                                {{ getSubjectName(mainTask.lessonId) }}
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel-header>
                <div class="secondary-title-font card-description-element-title">
                    <mat-icon class="mr-5">description</mat-icon>
                    Jegyzet:
                </div>
                <div *ngFor="let element of mainTask.note.split('\n')" class="mt-10 mb-15 ml-10 content-font">
                    {{ element }}
                </div>
                <div class="secondary-title-font card-description-element-title">
                    <mat-icon class="mr-5">subdirectory_arrow_right</mat-icon>
                    Alfeladatok:
                </div>
                <div *ngFor="let subTask of filterSubTasksByMainTaskId(mainTask.id!)" class="sub-task-row">
                    <div class="sub-task-main">
                        <div>
                            <mat-checkbox (change)="checkSubTask(subTask)" [checked]="subTask.fulfilled"></mat-checkbox>
                        </div>
                        <div
                            class="content-font ml-10 content-overflow"
                            [class.completed-task]="subTask.fulfilled"
                            style="width: 80%"
                        >
                            {{ subTask.name }}
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div *ngIf="this.selectedDayDate === 0" class="no-selected-element">
        <mat-icon class="no-selected-element-icon mb-20">info_outline</mat-icon>
        <div class="no-element-found-font">Válassz egy napot a feladatok megtekintéséhez!</div>
    </div>
</mat-card>
