<mat-card class="mat-elevation-z4 agenda-monthly-view-card">
    <div *ngIf="this.selectedDayDate !== 0">
        <div class="main-title-font card-main-title">{{currentDate | date : 'yyyy. MM. dd.'}} - Feladatok</div>
    </div>

    <div *ngIf="this.selectedDayDate === 0" class="no-selected-element">
        <mat-icon class="no-selected-element-icon mb-20">info_outline</mat-icon>
        <div class="no-element-found-font">Válassz egy napot az aznapi feladatok megtekintéséhez!</div>
    </div>
</mat-card>
