.card-main-title {
    display: flex;
    justify-content: center;
}

.card-description-element-title {
    margin: 10px;
    display: flex;
    align-items: center;
}

a {
    color: #3f51b5;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}
