<mat-card class="mat-elevation-z4 agenda-monthly-view-card">
    <div *ngIf="this.selectedTimetableId" class="calendar">
        <div class="month">
            <mat-icon (click)="navigateBack()">navigate_before</mat-icon>
            <div class="date">
                <div class="secondary-title-font mb-5 month-name"></div>
                <div class="content-font date-name"></div>
            </div>
            <mat-icon (click)="navigateForeward()">navigate_next</mat-icon>
        </div>
        <div class="weekdays">
            <div class="content-font">H</div>
            <div class="content-font">K</div>
            <div class="content-font">Sz</div>
            <div class="content-font">Cs</div>
            <div class="content-font">P</div>
            <div class="content-font">Sz</div>
            <div class="content-font">V</div>
        </div>
        <div class="days"></div>
    </div>

    <div *ngIf="!this.selectedTimetableId" class="no-selected-element">
        <mat-icon class="no-selected-element-icon mb-20">info_outline</mat-icon>
        <div class="no-element-found-font">Válassz órarendet az oldalsó menüben!</div>
    </div>
</mat-card>
