<div class="side-menu">
    <div class="create-request-button-container">
        <button
            class="create-request-button"
            mat-raised-button
            color="primary"
            (click)="goToForumView('create-request')"
        >
            Szoba léterhozás kérvény
        </button>
        <button
            *ngIf="isUserAdmin"
            class="create-request-button"
            mat-raised-button
            color="primary"
            (click)="goToForumView('management')"
        >
            Szobák kezelése
        </button>
    </div>
    <div class="line"></div>
    <div class="room-filter-container">
        <mat-form-field class="room-filter-input" appearance="outline">
            <mat-label>Szoba keresése...</mat-label>
            <input matInput type="text" (keyup)="applyFilter()" [(ngModel)]="filterText" />
            <mat-hint hidden></mat-hint>
        </mat-form-field>
    </div>

    <mat-expansion-panel style="width: calc(100% - 20px); margin: 0 10px 10px 10px">
        <mat-expansion-panel-header>
            <mat-panel-title class="filter-header-container">
                <mat-icon class="mr-10">tune</mat-icon>
                <div class="content-font">Szobák szűrése</div>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field class="form-element-full-width" appearance="outline">
            <mat-label>Egyetem</mat-label>
            <mat-select
                [formControl]="universityFilter"
                disableOptionCentering
                (selectionChange)="universityChanged($event.value)"
            >
                <mat-option [value]="0"> Mind</mat-option>
                <mat-option *ngFor="let university of allUniversity" [value]="university.id">
                    {{ university.name }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="universityFilter.hasError('required')">Egyetem megadása kötelező!</mat-error>
        </mat-form-field>

        <mat-form-field
            *ngIf="universityFilter.value && universityFilter.value !== 0"
            class="form-element-full-width"
            appearance="outline"
        >
            <mat-label>Karok</mat-label>
            <mat-select
                [formControl]="facultiesFilter"
                disableOptionCentering
                multiple
                (selectionChange)="facultyChanged($event.value)"
            >
                <mat-option *ngFor="let faculty of filteredFaculties" [value]="faculty.id">
                    {{ faculty.name }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="facultiesFilter.hasError('required')">Kar(ok) kiválasztása kötelező!</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="facultiesFilter.value!.length" class="form-element-full-width" appearance="outline">
            <mat-label>Szakok</mat-label>
            <mat-select [formControl]="majorsFilter" disableOptionCentering multiple>
                <mat-option *ngFor="let major of filteredMajors" [value]="major.id">
                    {{ major.name }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="majorsFilter.hasError('required')">Szak(ok) kiválasztása kötelező!</mat-error>
        </mat-form-field>
        <button mat-raised-button class="form-element-full-width" color="primary" (click)="filterForumsByEducation()">
            Szűrés
        </button>
    </mat-expansion-panel>

    <div class="line"></div>
    <div
        *ngFor="let forum of filteredForums"
        class="side-menu-element navigation-secondary-font"
        [class.selected-side-menu-element]="selectedForumId === forum.id!"
        (click)="selectForum(forum.id!)"
    >
        <mat-icon class="mr-5 tag-icon">tag</mat-icon>
        <span class="forum-name content-overflow">{{ forum.name }}</span>
    </div>
</div>
