<div class="side-menu">
    <div class="create-request-button-container">
        <button class="create-request-button" mat-raised-button color="primary" routerLink="create-request">Szoba léterhozás kérvény</button>
        <button class="create-request-button" mat-raised-button color="primary" routerLink="management">Szobák kezelése</button>
    </div>
    <div class="line"></div>
    <div class="room-filter-container">
        <mat-form-field class="room-filter-input" appearance="outline">
            <mat-label>Szoba keresése...</mat-label>
            <input matInput type="text"/>
            <!-- (keyup)="applyFilter()" [(ngModel)]="filterText" -->
            <mat-hint hidden></mat-hint>
        </mat-form-field>
    </div>
    <div class="filter-container">
        <mat-icon class="mr-10">tune</mat-icon>
        <div class="content-font">Szobák szűrése</div>
    </div>
    <div class="line"></div>
    <div>szobák listázása</div>
</div>

