.side-menu {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.create-request-button-container {
    width: calc(100% - 20px);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-request-button {
    width: 100%;
    margin: 5px 0;
}

.line {
    width: 100%;
    height: 0;
    border-bottom: 1px solid var(--neutral200);
}

.room-filter-container {
    width: calc(100% - 20px);
    margin: 10px 10px 0 10px;
}

.room-filter-input {
    width: 100%;
}

.side-menu-element {
    width: 100%;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.side-menu-element:hover,
.side-menu-element:active,
.selected-side-menu-element {
    color: var(--primary100);
    background-color: var(--neutral200);
}

.filter-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-element-full-width {
    width: 100%;
}

.tag-icon {
    overflow: initial !important;
}
