<mat-card class="mat-elevation-z4 teacher-card">
    <mat-card-title>Tanárok</mat-card-title>
    <mat-card-content>
        <mat-grid-list cols="5" [gutterSize]="'1vh'">
            <mat-grid-tile [colspan]="3" [rowspan]="1">
                <mat-form-field class="list-filter-input" appearance="outline">
                    <mat-label>Tanár keresése...</mat-label>
                    <input matInput type="text" (keyup)="applyFilter()" [(ngModel)]="filterText" />
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <div class="list-add-element-button" (click)="addTeacher()">
                    <mat-icon>add</mat-icon>
                    <div class="list-add-element-button-text">Hozzáadása</div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-divider></mat-divider>

        <div
            *ngFor="let teacher of filteredAllTeacher"
            class="list-row"
            [ngClass]="selectedTeacher.id === teacher.id ? 'list-row-selected' : ''"
        >
            <mat-grid-list cols="10">
                <mat-grid-tile [colspan]="7" [rowspan]="1" (dblclick)="selectTeacher(teacher.id)">
                    <p class="list-row-name">{{ teacher.name }}</p>
                </mat-grid-tile>
                <mat-grid-tile class="list-row-description-button list-row-button" [colspan]="1" [rowspan]="1">
                    <button mat-icon-button (click)="selectTeacher(teacher.id)">
                        <mat-icon> description </mat-icon>
                    </button>
                </mat-grid-tile>
                <mat-grid-tile class="list-row-edit-button list-row-button" [colspan]="1" [rowspan]="1">
                    <button mat-icon-button (click)="modifyTeacher(teacher.id)">
                        <mat-icon> edit </mat-icon>
                    </button>
                </mat-grid-tile>
                <mat-grid-tile class="list-row-delete-button list-row-button" [colspan]="1" [rowspan]="1">
                    <button mat-icon-button (click)="modifyTeacher(teacher.id)">
                        <mat-icon> delete </mat-icon>
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-divider></mat-divider>
        </div>
    </mat-card-content>
</mat-card>
