<div class="main-title-font card-main-title">Leírás</div>

<div *ngIf="isInMobileView()">
    <app-lesson-data-operations-navigation></app-lesson-data-operations-navigation>
</div>

<div>
    <div class="main-title-font mb-5 mt-30">Adatok</div>
    <mat-divider class="mb-15"></mat-divider>

    <div class="secondary-title-font card-description-element-title">
        <mat-icon class="mr-5">school</mat-icon>
        Tantárgy:
    </div>
    <div class="ml-50 mb-20 content-font">{{ selectedLessonSubject.name }}</div>

    <div class="secondary-title-font card-description-element-title">
        <mat-icon class="mr-5">person</mat-icon>
        Tanár:
    </div>
    <div class="ml-50 mb-20 content-font">{{ selectedLessonTeacher.name }}</div>

    <div class="secondary-title-font card-description-element-title">
        <mat-icon class="mr-5">event</mat-icon>
        Időpont:
    </div>
    <div class="ml-50 mb-20 content-font">
        {{ selectedLesson.day + ' ' + selectedLesson.startTime + ' - ' + selectedLesson.endTime }}
    </div>

    <div class="secondary-title-font card-description-element-title">
        <mat-icon class="mr-5">edit</mat-icon>
        Típus:
    </div>
    <div class="ml-50 mb-20 content-font">{{ selectedLesson.type }}</div>

    <div class="secondary-title-font card-description-element-title">
        <mat-icon class="mr-5">domain</mat-icon>
        Helyszín:
    </div>
    <div class="ml-50 mb-20 content-font">{{ selectedLesson.location }}</div>
</div>
