.form-field-full-width {
    width: 90%;
    margin: 10px;
}

.form-inputs-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 60%;
    align-items: center;
}

.form-action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}