<div *ngIf="isStateTheCurrentPageState('modify')" class="card-main-title-font">Módosítás</div>
<div *ngIf="isStateTheCurrentPageState('add')" class="card-main-title-font">Hozzáadás</div>

<div>
    <app-teacher-data-operations-navigation></app-teacher-data-operations-navigation>
</div>

<div *ngIf="isStateTheCurrentPageState('add')">
    <form class="form-inputs-center">
        <mat-form-field class="form-field-full-width" appearance="outline">
            <mat-label>Név</mat-label>
            <input matInput type="text" [formControl]="newName" />
        </mat-form-field>
        <mat-form-field class="form-field-full-width" appearance="outline">
            <mat-label>Email cím</mat-label>
            <input matInput type="text" [formControl]="newEmail" />
        </mat-form-field>
        <mat-form-field class="form-field-full-width" appearance="outline">
            <mat-label>Weboldal</mat-label>
            <input matInput type="text" [formControl]="newWebpage" />
        </mat-form-field>
        <mat-form-field class="form-field-full-width" appearance="outline">
            <mat-label>Iroda</mat-label>
            <input matInput type="text" [formControl]="newOffice" />
        </mat-form-field>
        <mat-form-field class="form-field-full-width" appearance="outline">
            <mat-label>További információk</mat-label>
            <textarea matInput rows="5" type="text" [formControl]="newMoreInformation"></textarea>
        </mat-form-field>
    </form>
</div>

<div *ngIf="isStateTheCurrentPageState('modify')">
    <form class="form-inputs-center">
        <mat-form-field class="form-field-full-width" appearance="outline">
            <mat-label>Név</mat-label>
            <input matInput type="text" [formControl]="updatedName" />
        </mat-form-field>
        <mat-form-field class="form-field-full-width" appearance="outline">
            <mat-label>Email cím</mat-label>
            <input matInput type="text" [formControl]="updatedEmail" />
        </mat-form-field>
        <mat-form-field class="form-field-full-width" appearance="outline">
            <mat-label>Weboldal</mat-label>
            <input matInput type="text" [formControl]="updatedWebpage" />
        </mat-form-field>
        <mat-form-field class="form-field-full-width" appearance="outline">
            <mat-label>Iroda</mat-label>
            <input matInput type="text" [formControl]="updatedOffice" />
        </mat-form-field>
        <mat-form-field class="form-field-full-width" appearance="outline">
            <mat-label>További információk</mat-label>
            <textarea matInput rows="5" type="text" [formControl]="updatedMoreInformation"></textarea>
        </mat-form-field>
    </form>
</div>

<div *ngIf="isStateTheCurrentPageState('modify')" class="form-action-buttons">
    <button style="margin: 15px" mat-raised-button color="primary" (click)="updateTeacher()">Mentés</button>
    <button style="margin: 15px" mat-raised-button color="warn" (click)="deleteTeacher(selectedTeacher.id)">
        Törlés
    </button>
</div>

<div *ngIf="isStateTheCurrentPageState('add')" class="form-action-buttons">
    <button style="margin: 15px" mat-raised-button color="primary" (click)="addTeacher()">Mentés</button>
</div>
