.form-buttons-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.form-field-full-width {
    width: 80%;
    margin: 1vh 0vh;
}

.form-inputs-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 60%;
    align-items: center;
}

.form-action-buttons {
    margin-top: 2vh;
    position: relative;
}