<div *ngIf="isStateTheCurrentPageState('modify')" class="main-title-font card-main-title">Módosítás</div>
<div *ngIf="isStateTheCurrentPageState('add')" class="main-title-font card-main-title">Hozzáadás</div>

<div *ngIf="isInMobileView()">
    <app-subject-data-operations-navigation></app-subject-data-operations-navigation>
</div>

<div *ngIf="isStateTheCurrentPageState('add')" class="mt-10">
    <form class="form-inputs-center">
        <mat-form-field class="form-field-full-width" appearance="outline">
            <mat-label>Név</mat-label>
            <input matInput type="text" [formControl]="newName" />
            <mat-error *ngIf="newName.invalid">Név megadása kötelező!</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field-full-width" appearance="outline">
            <mat-label>Rövidítés</mat-label>
            <input matInput type="text" [formControl]="newAbbreviation" />
            <mat-error *ngIf="newAbbreviation.invalid">Rövidítés megadása kötelező!</mat-error>
        </mat-form-field>
        <div class="form-field-full-width" [class.color-picker-error]="!colorPickerValid">
            <fieldset class="color-picker-fieldset">
                <legend [align]="'left'" class="legend-font">Szín *</legend>
                <div class="color-picker">
                    <mat-slider #slider min="0" max="20" step="1" [value]="subjectService.colorPickerIndex" (change)="colorSliderChange(slider.value)">
                        <input matSliderThumb />
                    </mat-slider>
                    <div  class="color-picker-sample ml-10" [ngStyle]="{ 'background-color': slider.value !== 0 ? subjectService.SUBJECT_COLORS[slider.value] : 'white' }"></div>
                </div>
            </fieldset>
            <div *ngIf="!colorPickerValid" class="legend-font color-picker-error">Szín megadása kötelező!</div>
        </div>
        <mat-form-field class="form-field-full-width" appearance="outline">
            <mat-label>Követelmények</mat-label>
            <textarea matInput rows="5" type="text" [formControl]="newRequirement"></textarea>
        </mat-form-field>
    </form>
</div>

<div *ngIf="isStateTheCurrentPageState('modify')" class="mt-10">
    <form class="form-inputs-center">
        <mat-form-field class="form-field-full-width" appearance="outline">
            <mat-label>Név</mat-label>
            <input matInput type="text" [formControl]="updatedName" />
            <mat-error *ngIf="updatedName.invalid">Név megadása kötelező!</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field-full-width" appearance="outline">
            <mat-label>Rövidítés</mat-label>
            <input matInput type="text" [formControl]="updatedAbbreviation" />
            <mat-error *ngIf="updatedAbbreviation.invalid">Rövidítés megadása kötelező!</mat-error>
        </mat-form-field>
        <div class="form-field-full-width" [class.color-picker-error]="!colorPickerValid">
            <fieldset class="color-picker-fieldset">
                <legend [align]="'left'" class="legend-font">Szín *</legend>
                <div class="color-picker">
                    <mat-slider #slider min="0" max="20" step="1" [value]="subjectService.colorPickerIndex" (change)="colorSliderChange(slider.value)">
                        <input matSliderThumb />
                    </mat-slider>
                    <div  class="color-picker-sample ml-10" [ngStyle]="{ 'background-color': slider.value !== 0 ? subjectService.SUBJECT_COLORS[slider.value] : 'white' }"></div>
                </div>
            </fieldset>
            <div *ngIf="!colorPickerValid" class="legend-font color-picker-error">Szín megadása kötelező!</div>
        </div>
        <mat-form-field class="form-field-full-width" appearance="outline">
            <mat-label>Követelmények</mat-label>
            <textarea matInput rows="5" type="text" [formControl]="updatedRequirement"></textarea>
        </mat-form-field>
    </form>
</div>

<div *ngIf="isStateTheCurrentPageState('modify')" class="form-action-buttons">
    <button
        style="margin: 15px"
        class="navigation-main-font"
        mat-raised-button
        color="primary"
        (click)="updateSubject()"
    >
        Mentés
    </button>
    <button
        style="margin: 15px"
        class="navigation-main-font"
        mat-raised-button
        color="warn"
        (click)="openDeleteDialog(selectedSubject.id)"
    >
        Törlés
    </button>
</div>

<div *ngIf="isStateTheCurrentPageState('add')" class="form-action-buttons">
    <button style="margin: 15px" class="navigation-main-font" mat-raised-button color="primary" (click)="addSubject()">
        Mentés
    </button>
</div>
