.teacher-card {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.card-main{
    height: 100%;
}

.no-selected-element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    align-items: center;
    font-size: xx-large;
}

.no-selected-element-icon{
    font-size: 10vh;
    width: 10vh;
    height: 10vh;
    margin-bottom: 4vh;
}
