<div class="main-title-font card-main-title">Módosítás</div>

<div *ngIf="isInMobileView()">
    <app-teacher-data-operations-navigation></app-teacher-data-operations-navigation>
</div>

<div class="mt-10">
    <form class="form-inputs-center">
        <mat-form-field class="form-field-full-width" appearance="outline">
            <mat-label>Tantárgy</mat-label>
            <mat-select [formControl]="updatedSubjectId" disableOptionCentering>
                <mat-option *ngFor="let subject of allSubject" [value]="subject.id">
                    {{ subject.name }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="updatedSubjectId.invalid">Tantárgy megadása kötelező!</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field-full-width" appearance="outline">
            <mat-label>Tanár</mat-label>
            <mat-select [formControl]="updatedTeacherId" disableOptionCentering>
                <mat-option *ngFor="let teacher of allTeacher" [value]="teacher.id">
                    {{ teacher.name }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="updatedTeacherId.invalid">Tanár megadása kötelező!</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field-full-width" appearance="outline">
            <mat-label>Nap</mat-label>
            <mat-select [formControl]="updatedDay" disableOptionCentering>
                <mat-option *ngFor="let day of DAYS" [value]="day">
                    {{ day }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="updatedDay.invalid">Nap megadása kötelező!</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field-full-width" appearance="outline">
            <mat-label>Kezdés ideje</mat-label>
            <input type="time" matInput [formControl]="updatedStartTime" />
            <mat-error *ngIf="updatedTeacherId.invalid">Kezdés idejének megadása kötelező!</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field-full-width" appearance="outline">
            <mat-label>Végzés ideje</mat-label>
            <input type="time" matInput [formControl]="updatedEndTime" />
            <mat-error *ngIf="updatedTeacherId.invalid">Végzés idejének megadása kötelező!</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field-full-width" appearance="outline">
            <mat-label>Típus</mat-label>
            <mat-select [formControl]="updatedType" disableOptionCentering>
                <mat-option *ngFor="let type of TYPES" [value]="type">
                    {{ type }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="updatedType.invalid">Típus megadása kötelező!</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field-full-width" appearance="outline">
            <mat-label>Helyszín</mat-label>
            <input matInput type="text" [formControl]="updatedLocation" />
        </mat-form-field>
    </form>
</div>

<div class="form-action-buttons ">
    <button style="margin: 15px" class="navigation-main-font" mat-raised-button color="primary" (click)="updateLesson()">Mentés</button>
    <button style="margin: 15px" class="navigation-main-font" mat-raised-button color="warn" (click)="openDeleteDialog(selectedLesson.id)">
        Törlés
    </button>
</div>
