<div class="timetable-weekly-view">
    <mat-card class="mat-elevation-z4 timetable-weekly-view-card">
        <div class="timetable-container" #timetable>
            <table>
                <tr>
                    <td
                        *ngFor="let day of WEEK_DAYS; let i = index"
                        class="week-day-cell content-font"
                    >
                        <ng-container *ngIf="i === 0" class="day-time-cell timetable-icon"><mat-icon>date_range</mat-icon></ng-container>
                        <ng-container *ngIf="i !== 0" class="day-cell">{{ day }}</ng-container>
                    </td>
                </tr>
                <tr *ngFor="let row of rowNumber; let i = index">
                    <ng-container *ngFor="let col of colNumber; let k = index">
                        <td *ngIf="i % 2 === 0 && k === 0" rowspan="2" class="day-time-cell content-font">{{ DAY_TIMES[i / 2] }}</td>
                        <td *ngIf="k !== 0" [ngClass]="['day-cell', 'day-content-cell']"></td>
                    </ng-container>
                </tr>
            </table>
            <div class="child" *ngFor="let lesson of allLesson"
            [style.background-color]="subjectIdNameMap.get(lesson.subjectId)!.color"
            [style.top]="getTopStyle(lesson)+'px'"
            
            >
                {{subjectIdNameMap.get(lesson.subjectId)!.name}}
            </div>
            <!-- [style.left]="subjectIdNameMap.get(lesson.subjectId)!.color"
            [style.height]="subjectIdNameMap.get(lesson.subjectId)!.color" -->
            <!-- Végigmenni a lesson-okon és kiszámolni a hozzá tartozó értékeket -->
            <!-- a celláknak adni óra és perc osztályokat fentebb -->
        </div>
    </mat-card>
</div>
