.timetable-weekly-view-card {
    overflow-y: scroll;
    overflow-x: scroll;
    height: 100%;
    width: 100%;
}

.timetable-weekly-view {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    height: 100%;
}

//*********** timetable ***********
.timetable-container {
    position: relative;
}

table {
    width: 1500px;
    height: 1200px;
    border-spacing:0; /* Removes the cell spacing via CSS */
    border-collapse: collapse;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

.week-day-cell {
    border: 2px solid black;
    text-align: center;
    background-color: var(--primary100);
    height: 65px;
}

.day-time-cell {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    width: 100px;
    text-align: center;
    height: 50px;
}

.day-cell {
    width: 200px;
    height: 25px;
}

.day-content-cell {
    border: 1px solid var(--grey);
    border-right: 2px solid black;
}

.timetable-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.child {
    width: 198px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    position: absolute;
    //******************************************
    left: 102px;
    height: 100px;
}