.tree-invisible {
    display: none;
}

.tree .mat-nested-tree-node div[role='group'] {
    padding-left: 0px;
}

.tree div[role='group'] > .mat-tree-node {
    padding-left: 50px;
}

.root-node {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.mat-nested-tree-node:hover,
.mat-nested-tree-node:active {
    color: var(--primary100);
    background-color: var(--neutral200);
    cursor: pointer;
}

.mat-tree-node:hover,
.mat-tree-node:active {
    color: var(--primary100);
    background-color: var(--neutral200);
    cursor: pointer;
}

.selected-leaf-node {
    color: var(--primary100);
    background-color: var(--neutral200);
}

.timetable-form-field {
    width: 90%;
}

.timetable-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
}

.timetable-select-button {
    display: flex;
    justify-content: center;
    margin: 10px;
}
