<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
      <mat-card class="mat-elevation-z4 teacher-card">
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        <mat-card-content>
          <p>This card indeterminates progress bar.</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
            eget vulputate diam. Vivamus quis nunc ut est porta sodales. Nulla a
            purus felis. Integer vel nunc eleifend libero laoreet vulputate vel
            ornare enim. Mauris rhoncus imperdiet dui sit amet ultricies.
            Pellentesque cursus feugiat ligula. Maecenas ultricies venenatis
            tristique. Donec in magna ac nulla egestas dictum vel id neque.
            Aliquam et mi sit amet lectus iaculis aliquam. Interdum et malesuada
            fames ac ante ipsum primis in faucibus. Ut cursus risus quam, sed
            suscipit purus placerat vel. Vivamus cursus efficitur consequat. Sed
            hendrerit, ligula in convallis viverra, mauris turpis commodo massa,
            quis laoreet turpis orci at enim. Sed ut neque ac erat pellentesque
            feugiat. Donec justo ante, tincidunt nec sapien sit amet, sagittis
            scelerisque metus. Aenean efficitur tortor lacinia purus euismod
            bibendum et eu arcu. Proin at dolor ac arcu faucibus porttitor.
            Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean
            venenatis sapien at efficitur aliquet. Sed ultricies, risus vel
            facilisis aliquam, mi arcu facilisis augue, a lacinia lectus tellus
            ac odio. Fusce gravida turpis sem, ac lobortis mi porttitor a.
            Vivamus feugiat id est mattis aliquet. Ut interdum, tellus ut
            elementum hendrerit, lacus tellus feugiat nisl, imperdiet congue leo
            neque id felis. Fusce imperdiet id ipsum in porta. Maecenas iaculis
            malesuada ante id lobortis. Aliquam fermentum gravida ipsum, eu
            sagittis turpis venenatis vel. Donec dui nulla, pharetra ut eros ut,
            faucibus consectetur est. Suspendisse eget justo luctus felis ornare
            tempus semper laoreet massa. Ut pharetra congue urna, nec dictum
            leo. Donec pharetra hendrerit scelerisque. Aenean eu accumsan
            turpis, consequat tempus nulla. Pellentesque habitant morbi
            tristique senectus et netus et malesuada fames ac turpis egestas.
            Aenean condimentum quam vel tellus ultrices, ut ornare dolor
            ultrices. Mauris sodales tincidunt felis, id sagittis libero
            tincidunt eget. Etiam eleifend elementum mi vitae feugiat. Phasellus
            tempor nec eros non eleifend. Nunc vel sem ac arcu pretium egestas
            ut eu lacus. Donec lacinia, elit vel dignissim consectetur, nisl
            lectus vestibulum turpis, sit amet volutpat mauris sapien eu lectus.
            Sed luctus lectus at ante ultrices, sed gravida risus varius.
            Suspendisse dictum tortor erat, ut bibendum diam molestie et. Sed
            quam massa, rhoncus eu consequat eget, maximus et lorem. Vestibulum
            ante ipsum primis in faucibus orci luctus et ultrices posuere
            cubilia curae; Vivamus ac urna interdum, rhoncus ante ut, bibendum
            est. Vestibulum sit amet gravida risus, vel faucibus nunc. Quisque
            venenatis lectus quis placerat lacinia. Nullam porta arcu eget porta
            rhoncus. Donec ut scelerisque dui. Vestibulum ac leo quis mi aliquam
            maximus. Mauris eros ligula, sodales vel nisl ac, tincidunt vehicula
            est. Sed tincidunt sit amet lectus vel rhoncus. Nullam fringilla
            mattis orci eu faucibus. Suspendisse tempor leo consectetur
            ultricies condimentum. Pellentesque sit amet lacus sed lectus
            hendrerit ornare et volutpat ex. Vivamus malesuada, nunc vel
            faucibus euismod, massa nulla ullamcorper orci, non ullamcorper
            justo lorem eu justo. Ut hendrerit mauris pulvinar elit rutrum
            congue. Nam quis odio eu eros vestibulum ornare. Maecenas et ligula
            mauris. Proin id arcu dictum, feugiat lacus tincidunt, sagittis sem.
            Nullam luctus semper tellus sed pretium. Sed ipsum dui, porta sed
            vehicula vitae, ultricies sit amet purus. Donec ornare sodales
            facilisis. Suspendisse luctus pellentesque vestibulum. Integer dolor
            lectus, malesuada non augue consectetur, congue lobortis justo.
            Proin velit erat, tempor vitae sodales ut, volutpat at erat. Nullam
            iaculis eget diam eget accumsan. Phasellus venenatis placerat lorem
            a suscipit. Nullam dictum ligula sed consequat vulputate. Nunc eget
            urna varius, sollicitudin risus sit amet, imperdiet nisl. Duis nec
            imperdiet est, non dapibus ligula. Etiam blandit, eros lacinia
            ullamcorper rhoncus, odio libero consequat turpis, eget lobortis
            tellus dolor eu sapien. Suspendisse nec suscipit felis, ac
            ullamcorper odio. Sed id congue urna. Aliquam eu nisl sit amet est
            tristique imperdiet eget eget ligula. Sed dapibus ipsum imperdiet,
            pellentesque massa a, gravida nulla. Morbi auctor, est a blandit
            lobortis, nisi urna fringilla odio, eu dictum est augue ut est.
            Quisque non dolor pretium, pharetra lacus non, dignissim nisi.
            Integer eu erat est. Vestibulum vitae commodo dolor, eu ultrices
            purus. Cras mollis aliquet erat, sit amet bibendum ipsum scelerisque
            et. Proin ullamcorper dolor turpis, non bibendum leo dictum nec. In
            non erat vitae purus aliquam cursus gravida in eros. Nullam lacinia
            leo sit amet tristique scelerisque. Suspendisse non mattis est.
            Integer viverra convallis cursus. Nulla auctor, tellus et aliquam
            lobortis, diam enim aliquam orci, eu condimentum libero nibh cursus
            elit.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
      <mat-card class="mat-elevation-z4 teacher-card">
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        <mat-card-content>
          <p>This card indeterminates progress bar.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
