<div class="timetable-dialog">
    <div>
        <div class="timetable-dialog-header mb-15">
            <div class="main-title-font">Órarendek</div>
            <div class="add-timetable-button">
                <mat-icon class="add-timetable-button-icon rotate" (click)="addTimetable()">add</mat-icon>
            </div>
        </div>

        <div class="timetable-dialog-list">
            <div
                *ngFor="let timetable of allTimetable$ | async; let i = index"
                class="list-row"
                [class.list-row-first]="i === 0"
            >
                <mat-checkbox
                    class="ml-5"
                    [checked]="timetable.id === selectedTimetableId"
                    (change)="setSelectedTimetable(timetable.id)"
                >
                </mat-checkbox>
                <div class="content-font ml-10" style="width: 100%">{{ timetable.name }}</div>
                <div class="list-row-buttons">
                    <div class="list-action-button">
                        <button mat-icon-button (click)="modifyTimetable(timetable)">
                            <mat-icon> edit </mat-icon>
                        </button>
                    </div>
                    <div class="list-delete-button">
                        <button mat-icon-button (click)="openDeleteDialog(timetable.id)">
                            <mat-icon> delete </mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="currentOperationState !== 'base'" class="timetable-operations mt-10">
            <div *ngIf="currentOperationState === 'modify'" class="main-title-font">Módosítás</div>
            <div *ngIf="currentOperationState === 'add'" class="main-title-font">Hozzáadás</div>
            <div class="timetable-save-form mt-10">
                <mat-form-field class="form-field-full-width" appearance="outline">
                    <mat-label>Név</mat-label>
                    <input matInput type="text" [formControl]="timetableName" />
                </mat-form-field>
                <div>
                    <button class="ml-10" mat-raised-button color="primary" (click)="saveTimetable()">Mentés</button>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog-buttons">
        <button mat-raised-button color="warn" (click)="closeDialog()">Mégse</button>
        <button mat-raised-button color="primary" (click)="saveDialog()">Megerősít</button>
    </div>
</div>
