<div class="timetable-dialog">
    <div>
        <div class="timetable-dialog-header mb-15">
            <div class="main-title-font">Órarendek</div>
            <div class="add-timetable-button">
                <mat-icon class="add-timetable-button-icon rotate" (click)="addTimetable()">add</mat-icon>
            </div>
        </div>

        <div class="timetable-dialog-list">
            <div
                *ngFor="let timetable of allTimetable$ | async; let i = index"
                class="list-row"
                [class.list-row-first]="i === 0"
            >
                <div
                    *ngIf="timetable.id && !editedTimetables.has(timetable.id)"
                    class="content-font ml-10"
                    style="width: 100%"
                >
                    {{ timetable.name }}
                </div>
                <div
                    *ngIf="timetable.id && editedTimetables.has(timetable.id)"
                    class="content-font timetable-dialog-input-field"
                    style="width: 100%"
                >
                    <input matInput type="text" #updatedName [value]="timetable.name" (change)="changeUpdatedName(timetable.id, updatedName.value)" />
                </div>
                <div class="list-row-buttons">
                    <div *ngIf="timetable.id && !editedTimetables.has(timetable.id)" class="list-action-button">
                        <button mat-icon-button (click)="modifyTimetable(timetable)">
                            <mat-icon> edit </mat-icon>
                        </button>
                    </div>
                    <div *ngIf="timetable.id && editedTimetables.has(timetable.id)" class="list-action-button">
                        <button mat-icon-button (click)="saveTimetable(timetable)">
                            <mat-icon> save </mat-icon>
                        </button>
                    </div>
                    <div class="list-delete-button">
                        <button mat-icon-button (click)="openDeleteDialog(timetable.id)">
                            <mat-icon> delete </mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog-buttons">
        <button mat-raised-button color="primary" (click)="closeDialog()">Vissza</button>
    </div>
</div>
