.daily-view-list-card {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.card-main-title {
    display: flex;
    justify-content: center;
}

.no-selected-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    align-items: center;
    line-height: normal;
}

.no-selected-element-icon {
    font-size: 60px;
    font-weight: 600;
    width: 60px;
    height: 60px;
}

.color-picker-sample {
    height: 30px;
    width: 50px;
    border-radius: 5px;
    display: inline-block;
    border: 2px solid black;
}

.lesson-row {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--neutral);
}

.lesson-row:hover,
.lesson-row-selected {
    cursor: pointer;
    background-color: var(--neutral200);
}
